@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@400;500;700&display=swap');

html {
  background-color: #9d7eeb;
  color: #fff;
  font-family: 'Roboto serif', sans-serif;
}

.page {
  &__info {
    text-align: center;
    margin: 20px 0;
  }
  &__intro {
    height: 100vh;
    
    &--block {
      background-color: rgba($color: #fff, $alpha: 0.5);
      padding: 50px;
      max-width: 50px;
      max-height: 70px;
    }
  }
}

.city {
  &__country {
    font-size: 25px;
  }
  &__name {
    font-size: 42px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    @media (max-width: 576px) {
      font-size: 32px;
      flex-direction: column;
      margin-top: 30px;
    }
  }
  &__weather {
    &--icon {
      width: 100px;
      @media (max-width: 576px) {
        width: 80px;
      }
    }
    &--desc {
      font-size: 25px;
      text-align: center;
      margin-top: 0px;
    }
  }

  &__temp {
    display: flex;
    justify-content: center;
    align-items: center;
    &--headline {
      font-size: 62px;
      margin: 0;
      padding: 0px 30px;
      @media (max-width: 576px) {
        font-size: 45px;
      }
    }
    &--overview {
      padding: 0px 30px;
      border-left: 1px dashed #fff;
    }
    &--detail {
      font-size: 20px;
      margin: 0;
      &:first-child {
        margin-bottom: 20px;
      }
      @media (max-width: 576px) {
        font-size: 15px;
      }
    }
    &--span {
      text-align: center;
      margin-top: 25px;
    }
  }
}

.search {
  text-align: center;

  input {
    padding: .7rem 1.5rem;
    font-size: 16px;
    width: 50vw;
    border-radius: 25px;
    border: 1px solid rgba($color: #f8f8f8, $alpha: 0.5);
    background-color: rgba($color: #f8f8f8, $alpha: 0.5);
    color: #f8f8f8;
    &::placeholder {
      color: #f8f8f8;
    }
  }
}